* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-nav-list {
    display: flex;
}

main {
    /* height: 100vh;  just testing */
    display: flex;
    align-items: stretch;
}

/* just testing
main>* {
    background-color: palevioletred;
    border: blue 1px solid;
} */

.cards {
    display: flex;
}