* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-nav-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

main {
    display: flex;
    align-items: stretch;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 50rem;
}
